h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.grid-pedido{
    width: 800px; 
    margin: 0 auto;

}
.table-top{
    background-color: #26a69a;
    font-weight: 600;
    border-radius: 0px;

    text-align: center;
}

tr>td{
    text-align: center;
    border-radius: 0px !important;
}

tr>td>input{
    width: 20%;
    text-align: center;
}

.form-group{
    margin-top: 50px;
    margin-left: 10px; 
    margin-bottom: 50px;;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
}

.form-group>.input-field{    
    width:400px;
}

.checkbox-submit {
    width: 400px;
}

.checkbox-submit>label {
    margin-right: 230px;
}