<form  [hidden]="pedidoConcluido" #pedidoForm="ngForm" style="width: 800px; margin: 0 auto;">   
    <div>
        <h1>Lista de Produtos</h1>
        <table border="1">
            <tr class="table-top">
                <td>Descrição</td>
                <td>Categoria</td>
                <td>Valor</td>
                <td>Quantidade</td>
            </tr>
        
            <tr class="cart-item" *ngFor="let item of itens">
                <td>{{ item.descricao }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.preco }}</td>
                <td>
                    <input type="number" [(ngModel)]="item.quantidade" name="quantidade" value="0" min="0">
                </td>
            </tr>         
            
        </table>    
        
    </div>

    <div class="form-group">
        <div class="input-field" col m6>
            <label for="text">Nome do Cliente:</label>
            <input [(ngModel)]="model.nome" name="nome" type="text" >
        </div>
        <div class="input-field" col m6>
            <label for="text">Endereço:</label>
            <input [(ngModel)]="model.endereco" name="endereco" type="text">
        </div>       
        <div class="checkbox-submit">               
            <label>
                <input [(ngModel)]="model.entrega" name="entrega" type="checkbox" />  
                <span>Entrega</span>   
            </label>        
            <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit();" >Enviar        
            </button> 
        </div>             
    </div>
     
</form>
<div [hidden]="!pedidoConcluido">
    

    <div>
        <h1>Carrinho de Compras</h1>
        <table border="1">
            <tr class="table-top">
                <td>Descrição</td>
                <td>Categoria</td>
                <td>Valor</td>
                <td>Quantidade</td>
            </tr>
        
            <tr class="cart-item" *ngFor="let item of listProdutos">
                <td>{{ item.descricao }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.preco }}</td>
                <td>{{item.quantidade}}</td>
            </tr>         
            
        </table>    
        <label for="pedido">Valor Total do Pedido</label>
        <input [(ngModel)]="pedido.valor" name="pedido" type="text">
    </div>

    
</div>   